# Default owner for generated repositories. Update if you use a different maintainer/team.

* @{{ github_maintainer }}

/.github/workflows/* @{{ github_maintainer }}
/.github/ISSUE_TEMPLATE/* @{{ github_maintainer }}
/.github/VOUCHED.td @{{ github_maintainer }}
/extensions/* @{{ github_maintainer }}
/package.json @{{ github_maintainer }}
/SECURITY.md @{{ github_maintainer }}
/.release-please-config.json @{{ github_maintainer }}
/.release-please-manifest.json @{{ github_maintainer }}
